@import url("reset.css");
@import url("variables.css");

body {
	background: var(--off-white);
}

hr {
	background-color: var(--dark-grayish-blue);
	height: 1px;
	width: 100%;
}

.flex-display {
	display: flex;
	flex-direction: column;
}

/* CABEÇALHO */
.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	height: 88px;
}

.cabecalho-logo__img {
	width: 47px;
}

/* MENU PRINCIPAL */
.menu-botao {
	background-color: transparent;
}

.fundo-escuro-menu {
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 500;
}

.fundo-escuro-open {animation: fadeIn .5s linear}
.fundo-escuro-close {animation: fadeOut .5s linear}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes fadeOut {
	0% {opacity: 1}
	100% {opacity: 0}
}


.menu-list {
	background-color: var(--off-white);
	display: none;
	position: fixed;
	flex-direction: column;
	right: 0;
	top: 0;
	width: 0;
	height: 100vh;
	padding: 0;
	z-index: 1000;
	overflow: hidden;
}

.menu-list-aberto, .menu-list-fechar {
	display: flex;
}

.menu-list-aberto {
	animation: slideMenuAbrir .3s ease-in forwards;
}

.menu-list-fechar {
	animation: slideMenuFechar .3s ease-out forwards;
}

@keyframes slideMenuAbrir {
	0% {
		width: 0;
		padding-left: 0;
	}
	
	100% {
		width: 68.4%;
		padding-left: 24px;
	}
}

@keyframes slideMenuFechar {
	0% {
		width: 68.4%;
		padding-left: 24px;
	}
	
	100% {
		width: 0;
		padding-left: 0;
	}
}

.fechar-menu {
	align-self: flex-end;
	margin: 26px 20px;
	margin-bottom: 84px;
}

.fechar-menu-botao {
	background-color: transparent;
}

.menu-item {
	list-style-type: none;
	opacity: 0;
}

.menu-item-responsive {
	animation: exibir 0.2s linear 0.4s forwards;
	display: block;
}

.menu-item-close {
	animation: fechar 0.2s linear forwards;
}

@keyframes exibir {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes fechar {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

.menu-item:not(.fechar-menu) {
	margin-bottom: 25.8px;
}

.menu-item__link {
	color: var(--very-dark-blue);
	text-decoration: none;
	font-size: 1.15rem;
}

/* Imagem de apresentação da página */
.c-artigo {
	padding: 0 16px;
}	

.foto-apresentacao__img {
	height: 300px;
}

.artigo-main {
	background-color: var(--off-white);
	padding-bottom: 62px;
	order: 1;
}

.artigo-main__titulo {
	color: var(--very-dark-blue);
	font-weight: 800;
	font-size: 2.55rem;
	line-height: 0.95;
	margin-top: 20px;
}

.artigo-main__texto {
	color: var(--dark-grayish-blue);
	margin-top: 20px;
	line-height: 1.7;
}	

.artigo-main__botao {
	background-color: var(--soft-red);
	margin-top: 24px;
	color: var(--off-white);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	font-size: 0.90rem;
	text-align: center;
	padding: 16px 31px;
}

/* Conteúdo lateral */

.novos-posts {
	background-color: var(--very-dark-blue);
	padding: 21px 20px;
	padding-bottom: 26px;
}

.novos-posts__titulo {
	color: var(--soft-orange);
	font-size: 2rem;
}

.novo-secao {
	color: var(--off-white);
	text-decoration: none;
}

.novo-secao__titulo {
	font-size: 1.26rem;
	margin-bottom: 9px;
	margin-top: 30px;
}

.novo-secao__texto {
	color: var(--grayish-blue);
	line-height: 1.63;
	margin-bottom: 30px;
}

.novo-secao:last-child .novo-secao__titulo {
	margin-bottom: 10px;
}

.novo-secao:last-child .novo-secao__texto {
	margin-bottom: 0;
}

/* Parte dos 3 tipos */
.top-three {
	background-color: var(--off-white);
	padding: 0 16px;
	margin-top: 61px;
}

.three-content {
	display: flex;
	margin-bottom: 30px;
	text-decoration: none;
}

.three-content-img {
	display: block;
	flex-basis: 34.5%;
}

.three-content-item {
	flex-basis: 82%;
	padding: 0 23px;
	padding-right: 0;
}

.three-content-titulo {
	color: var(--very-dark-blue);
	font-size: 1.13rem;
	font-weight: 800;
	margin-top: -1px;
}

.three-content-titulo__numero {
	color: var(--grayish-blue);
	font-size: 2rem;
	font-weight: 700;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.three-content-item__texto {
	color: var(--dark-grayish-blue);
	margin-top: 10px;
	line-height: 1.69;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { 
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 475px) and (max-width: 1440px) {
	body {
		background: var(--off-white);
		overflow: hidden;
	}
	
	.img-responsive {
		height: auto;
	}
	
	.container {
		margin: 14px auto;
		width: 987px;
	}
	
	/* MENU PRINCIPAL */
	.cabecalho {
		height: 144px;
	}
	
	.cabecalho-logo__img {
		width: 55px;
		margin-top: 19px;
	}
	
	.menu-botao, .fechar-menu-botao, .fundo-escuro-menu  {
		display: none;
	}
	
	.menu-list {
		display: block;
		position: static;
		height: auto;
		width: auto;
		margin-top: 14px;
	}
	
	.menu-list-aberto, .menu-list-fechar {
		animation: none;
	}
	
	.menu-item {
		opacity: 1;
		display: inline;
	}	

	.menu-item-responsive {
		animation: none;
	}

	.menu-item-close {
		animation: none;
	}
	
	.menu-item__link {
		color: var(--dark-grayish-blue);
		margin-left: 29.2px;
		font-size: 0.85rem;
		transition: 0.2s;
	}
	
	.menu-item__link:hover {
		color: var(--soft-red);
	}
	
	/* Artigo container */
	.c-artigo {
		display: flex;
		gap: 27px;
	}
	
	.c-foto {
		flex-basis: 121%;
	}
	
	.foto-apresentacao__img {
		height: 255px;
	}
	
	.artigo-main {
		display: flex;
		margin-top: 6px;
	}
	
	.artigo-main-item {
		flex-basis: 50%;
	}
	
	.artigo-main-item:first-child {
		margin-right: 25px;
	}
	
	.artigo-main__titulo {
		font-size: 3.08rem;
		letter-spacing: -0.005em;
	}
	
	.artigo-main__texto {
		font-size: 0.83rem;
		word-spacing: -0.98px;
		margin-top: 15px;
		letter-spacing: -0.003em;
		line-height: 1.58;
	}
	
	.artigo-main__botao {
		cursor: pointer;
		padding: 12px 24px;
		padding-left: 25.5px;
		padding-top: 13px;
		margin-top: 30px;
		letter-spacing: 3.2px;
		font-size: 0.80rem;
		transition: 0.2s;
	}
	
	.artigo-main__botao:hover {
		background-color: var(--very-dark-blue);
		color: var(--off-white);
	}
	
	.novos-posts {
		padding: 24px 20px;
		padding-bottom: 26px;
		flex-basis: 20%;
	}
	
	.novos-posts__titulo {
		font-size: 2.15rem;
	}
	
	.novo-secao:hover .novo-secao__titulo {
		color: var(--soft-orange);
		transition: 0.2s;
	}
	
	.novo-secao__titulo {
		margin-top: 23px;
		font-size: 1.08rem;
	}
	
	.novo-secao__texto {
		font-size: 0.83rem;
		margin-bottom: 27px;
	}
	
	.top-three {
		display: flex;
		gap: 26px;
		margin-top: 6px;
	}
	
	.three-content {
		width: 614px;
	}
	
	.three-content:hover .three-content-titulo {
		color: var(--soft-red);
		transition: 0.2s;
	}
	
	.three-content-item {
		padding: 0 21px;
		padding-right: 0px;
	}
	
	.three-content-img {
		flex-basis: 33%;
	}
	
	.three-content-titulo {
		font-size: 0.98rem;
		margin-top: -5px;
	}
	
	.three-content-titulo__numero {
		font-size: 1.8rem;
	}
	
	.three-content-item__texto {
		line-height: 1.6;
		font-size: 0.81rem;
		margin-top: 8px;
	}
	
	footer {
		position: absolute;
		bottom: 2px;
		width: 100%;
	}
}
